/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url('background.gif');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

#home .container {
    margin-top: 70px;
}
.container .teks-atas h1{
    margin-top: 20px;
    font-weight: bold;
    font-size: 59px;
    line-height: 3rem;
    color: white;
}

.teks-desc {
    margin-top: 20px;
}

.teks-social {
    margin-top: 20px;
}

.container .teks-social li a {
    text-decoration: none;
    color: white;
    line-height: 35px;
    margin-left: -25px;
}

.container .teks-social li a:hover {
    color: rgb(192, 192, 192);
}

#about {
    padding-top: 4rem;
}

.judul::after{
    content: "";
    display:block;
    border-bottom: 5px solid white;
    width: 190px;
    margin:auto  
}

.container .judul h1{
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-align: center;
}
.image-about{
    margin-top: 20px;
    text-align: center;
}
.image-about img {
    width: 210px;

}


.image-about h2 {
    font-weight: bold;
    color: white;
    font-size: 65px;
}

.image-about p {
    color: white;
    text-align: center;
}

@media (min-width: 576px) {

.container .teks-atas h1 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 80px;
    line-height: 5rem;
    color: white;
    }

}

@media (min-width: 992px){
.image-about img {
    width: 210px;
    margin-top: 15px;  
    margin-left: 0px;  
    }
.container .judul h1{
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-align: left;
}
.judul::after{
    content: "";
    display:block;
    border-bottom: 5px solid white;
    width: 190px; 
    margin: 0;
}
.image-about{
    margin-top: 20px;
    text-align: left;
}

.image-about p {
    color: white;
    text-align: justify;
}
}