/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url('background.gif');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

#home .container {
    margin-top: 70px;
}
.container .teks-atas h1{
    margin-top: 20px;
    font-weight: bold;
    font-size: 59px;
    line-height: 3rem;
    color: white;
}

.teks-desc {
    margin-top: 20px;
}

.teks-social {
    margin-top: 20px;
}

.container .teks-social li a {
    text-decoration: none;
    color: white;
    line-height: 35px;
    margin-left: -25px;
}

.container .teks-social li a:hover {
    color: rgb(192, 192, 192);
}

#about {
    padding-top: 4rem;
}

.judul-about::after{
    content: "";
    display:block;
    border-bottom: 5px solid white;
    width: 190px;
    margin:auto  
}

.container .judul-about h1{
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-align: center;
}

.judul-activity::after{
    content: "";
    display:block;
    border-bottom: 5px solid white;
    width: 250px;
    margin:auto  
}

.container .judul-activity h1{
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-align: center;
}

.image-about{
    margin-top: 20px;
    text-align: center;
}
.image-about img {
    width: 210px;

}

.image-about h2 {
    font-weight: bold;
    color: white;
    font-size: 63px;
}

.image-about p {
    color: white;
    text-align: center;
}

#activity {
    padding-top: 85px;
}
.activity-content {
    margin-top: 47px;
}

.card{
    transition: 0.4s;
    background-color: black;
    border: 0;
}

.card-body{
    background-color: rgb(32, 32, 32);
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
    color: white;
}


.card:hover, .card-body:hover{
    transition: 0.3s;
    box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.52);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.52);
    -moz-box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.52);
    background-color: white;
    color: black;
}


@media (min-width: 576px) {

.container .teks-atas h1 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 80px;
    line-height: 5rem;
    color: white;
    }

}

@media (min-width: 992px){
.image-about img {
    width: 210px;
    margin-top: 15px;  
    margin-left: 0px;  
    }
.container .judul-about h1{
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-align: left;
}
.judul-about::after{
    content: "";
    display:block;
    border-bottom: 5px solid white;
    width: 190px; 
    margin: 0;
}
.container .judul-activity h1{
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-align: left;
}
.judul-activity::after{
    content: "";
    display:block;
    border-bottom: 5px solid white;
    width: 250px; 
    margin: 0;
}
.image-about{
    margin-top: 20px;
    text-align: left;
}

.image-about p {
    color: white;
    text-align: justify;
}

.image-about h2 {
    font-weight: bold;
    color: white;
    font-size: 65px;
}
}